<div class="logo">
  <img src="assets/archimed2.png" alt="Archimed" />
</div>
<div class="heading">
  <h2>Welcome Back</h2>
  <h6>Already have an account?</h6>
  <a class="toggle" href="http://localhost:4200/auth">Sign in</a>
</div>
<br>
<div >
<webcam
  *ngIf="showWebcam"
  [allowCameraSwitch]="allowCameraSwitch"
  [videoOptions]="videoOptions"
  [trigger]="triggerObservable"
  (imageCapture)="handleImage($event)"
  (cameraSwitched)="cameraWasSwitched($event)"
  (initError)="handleInitError($event)"

  [height]="270"
  [width]="240"
></webcam>
</div>
<!-- Display the captured image as soon as it is captured -->
<div *ngIf="capturedImage && isLoading" class="captured-image-container">
  <img [src]="capturedImage?.imageAsDataUrl" alt="Captured Image" class="captured-image" />

</div>

<div *ngIf="isLoading" class="loading-indicator">
  <h5>Authenticating...</h5>
  <div class="dots">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<br>
<div class="mrg">
  <input type="submit" value="Take Picture" class="sign-btn" (click)="triggerSnapshot()" />
  <input type="submit" [value]="buttonLabel" class="sign-up" (click)="toggleWebcam()" />
  <p class="text" *ngIf="!capturedImage && !isLoading">
    <a href="/auth">Go back</a> to simple authentication
  </p>
</div>

