<div class="w-100 bg-black py-3 footer">
  <div class="container">
    <div class="row pt-2">
      <div class="col-12">
        <!--  Copyright &copy; 2024 Archimed
            | Designed by <a rel="sponsored" href="https://www.linkedin.com/in/lahbib-bilel-08451119a/" target="_blank">Lahbib Bilel</a> -!-->
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
      <div class="w-100 d-flex justify-content-between">
        <div>
          <div class="p1">
            <i class="fa fa-envelope mx-2"></i>
            <a class="navbar-sm-brand text-light text-decoration-none" href="#">
              Route de Raoued Km 3, Cité El Ghazela Complexe Technologique des Communications 2088 ARIANA
            </a>
            <i class="fa fa-phone mx-2"></i>
            <a class="navbar-sm-brand text-light text-decoration-none" href="#">
              71 859 710 / 70 834 900
            </a>
          </div>
        </div>
        <div>
          <a class="text-light" href="#" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
          <a class="text-light" href="#" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
          <a class="text-light" href="#" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
          <a href="https://www.linkedin.com/company/archimedteam/?originalSubdomain=fr" class="text-light" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
        </div>
      </div>
    </div>
  </nav>
</div>
